@use "cart";
@use "checkout";

:root {
    --bs-light-green: #15c50b;
    --bs-top-bar: #d9ddd9;
    --bs-green: #56b119;
    --bs-orange:  #eaa422;
  }
  
  .bg-top-bar {
    background-color: var(--bs-top-bar);
  }
  .bg-top-info {
    background-color: var(--bs-green);
    max-width: 100%;
  }

  .card-img-top {
    height: 340px;
    border-radius: 12px;
  }

  .bg-my-menu {
    background-color: var(--bs-light-green);
    //height: 100%;
  }

  .bg-orange {
    background-color: var(--bs-orange);
  }

  .greenColor {
    color: var(--bs-green);
  }

  .orangeColor {
    color: var(--bs-orange);
  }

  .banner {
    max-width: 100%;
    margin: auto;
  }

  .imgBanner {
    width: 100%;
  }

  .btn:hover {
    background-color: white;
    border-color: var(--bs-green) ;
    color: var(--bs-green) !important ;
  }

  .card .btn {
    width: 100%;
  }

  .card {
    border-color: var(--bs-green);
  }

  #newsletter1 {
    width: 70%;
  }

  .social {
    border-top: 1px solid var(--bs-green);
  }

  .shadow {
    filter: drop-shadow(0px 4px 10px rgba(0, 255, 0, 0.5)); /* Sombra verde */
  }

  @media (max-width: 800px) {

    .specialOffer p{
      font-size: 0.7rem;
    }

    .specialOffer p:nth-child(2) {
      padding-top: 2px !important;
    }

    .card {
      width: 80%;
      margin: auto;
     }
     .card-img-top {
      height: 400px;
      border-radius: 12px;
    }
    
  }
  